.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    padding-right: 0px !important;
    white-space: normal !important;

}

.table > tbody > tr > td {
    padding: 5px !important;
    padding-right: 3px;
    border: solid 1px #dedede;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    /* height: 400px; */
    margin-top: 3px; 
    white-space: inherit !important;
}

.ui-th-column,.ui-th-ltr{
    white-space: inherit !important;    
}
 
.ui-th-ltr{
    background: #F0F0F0;
}
.ui-search-input{
    width: 80%;
}
.ui-state-highlight { background: yellow !important; }